

#demo > * {
    animation: fadeIn 0.55s forwards;
}

#demo .subform {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#demo .subform > section {
    width: 80%;
    margin: 0 auto;
    background: gray;
    padding: 30px 40px;
    border-radius: 20px;
}

#demo .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

#demo .col {
    display: flex;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}