body {
    width: 100%;
    height: 100%;
    display: flex;
}

input,
select,
textarea {
    margin: 20px;
}

h1.main {
    font-family: 'Rock Salt';
    color: #111;
    font-size: 16px;
    bottom: 5px;
    right: 5px;
    position: fixed;
}

.stage {
    width: auto;
    height: 100%;
    content: "";
    flex-grow: 1;
    animation: simpleFadeIn 2s ease-in-out;
}

.wrapper {
    height: 100%;
    overflow-y: auto;
    font-family: Roboto;
    max-width: 200px;
}

.wrapper h1,
.wrapper h2,
.wrapper h3,
.wrapper h4,
.wrapper h5,
.wrapper h6,
p {
    padding: 3px 0;
    margin: 0;
}

.row {
    display: flex;
}

.description{
    margin-bottom: 20px;
}

.outer-section {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: #ffffff;
    padding: 40px;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.wrapper {
    border: 1px solid #ccc;
    border-radius: 6px;
    min-width: 150px;
    width: 20vw;
    padding: 20px;
    margin: 20px 20px 0 0;
    animation: simpleFadeIn 1s ease-in-out;
}

.elements {
    padding: 2px;
}

.title {
    margin-bottom: 10px;
}

.element-name {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 5px 20px;
    background: whitesmoke;
}

.element-name:hover {
    background: lightgray;
}
.palette .row {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 25px;
}

.palette .row > div {
    width: 20%;
    height: 30px;
}

.example {
    margin: 0 20px 20px 0;
}

.loading {
    position: fixed;
    right: 20px;
    top: 10px;
    z-index: 1000;
}

.hidden {
    display: none;
}

  @keyframes simpleFadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  