:root {
    --border-radius: 15px;
}

body {
    width: 44%;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    line-height: 1.5;
    margin-top: 60px;
    font-family: Roboto;
    padding-bottom: 120px;
    display: flex;
    flex-wrap: wrap;
    background: whitesmoke;
}

body>section {
    min-width: 640px;
    width: 100%;
    margin: 60px auto;
    padding-bottom: 120px;
    border-bottom: 1px solid darkgray;
    animation: 2s ease 0s 1 normal none running fadeIn;
}

#chatbot {
    width: 100%;
    min-width: 640px;
    max-height: 100%;
}

input {
    padding: 4px 8px;
}

input,
select,
textarea {
    background: white;
    border: medium;
    box-shadow: none;
    border-radius: var(--border-radius);
    height: auto;
    transition: height 0.5s ease-in-out 0s;
}

textarea:focus {
    border: medium;
    outline: dodgerblue solid 1px;
    outline-offset: -1px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: 3px 0px;
    margin: 0px;
}

h1 {
    font-family: Oswald;
    color: rgb(17, 17, 17);
    border-bottom: 2px solid lightgray;
    width: 100%;
}

p {
    font-size: 1em;
    line-height: 1.5;
}

button {
    height: 40px;
    background-color: rgb(76, 175, 80);
    color: white;
    border: medium;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: all 0.21s ease-in-out 0s;
}

button:active {
    background-color: rgb(62, 142, 65);
    outline: white solid 1px;
    outline-offset: -1.5px;
}

code button {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: gray;
}

form button {
    width: 100%;
}

pre {
    white-space: pre-wrap;
    overflow-y: auto;
}

code {
    background-color: rgb(16, 16, 16);
    color: white;
    padding: 6px 20px;
    border-radius: var(--border-radius);
    display: block;
    line-height: 2;
    position: relative;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-bottom: 20px;
    opacity: 0;
    animation: 1s ease 0.5s 1 normal forwards running fadeIn;
}

form textarea {
    width: calc(100% - 40px);
    line-height: 1.5;
    font-size: 1.2em;
    padding: 20px;
    margin: 15px auto;
    box-shadow: none;
    border: 1px solid rgb(204, 204, 204);
}

textarea.error {
    color: red;
}

.wrapper {
    height: 100%;
    width: 100%;
}

.row {
    display: flex;
}

.loading-spinner {
    position: fixed;
    right: 20px;
    top: 10px;
    z-index: 1000;
}

.invisible {
    opacity: 0 !important;
}

.hidden {
    display: none !important;
}

.scroll-top {
    position: fixed;
    bottom: 5px;
    right: 5px;
    width: 40px;
    height: 40px;
}

.toggle {
    cursor: pointer;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.chatbot {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    resize: vertical;
    border-radius: var(--border-radius);
}

.chatbot-input {
    width: 40%;
    padding: 1% 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chatbot-input-inner {
    width: 95%;
}

.chatbot-output {
    position: relative;
    width: 59%;
    height: 100%;
    padding: 2% 0px 0px 1%;
    margin-left: 1%;
    overflow: hidden auto;
    z-index: 0;
    max-height: 50vh;
}

.chatbot-loading {
    width: 100%;
    padding: 5px 0px 15px;
    text-align: center;
    animation: 1s ease 0s 1 normal forwards running fadeIn, 2s ease 0s infinite alternate none running text-pulse;
}

.chatbot-controls {
    margin-top: 80px;
    width: 100%;
}

.chatbot-controls button {
    width: 150px;
    padding: 0px;
}

.chatbot-picker {
    width: 100%;
    height: 40px;
    font-size: 1.2em;
    background: white;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 4px;
    cursor: pointer;
}

.chatbot-textarea {
    width: 95%;
    max-height: 50vh;
    line-height: 1.5;
    font-size: 1.52em;
    padding: 2.5% 2.5% 25px;
    border: medium;
    resize: none;
    opacity: 0;
    animation: 2s cubic-bezier(0.075, 0.82, 0.165, 1) 0s 1 normal forwards running fadeIn;
    min-height: 260px;
    margin: 15px 0px;
}

.chatbot-submit {
    width: 100%;
    float: right;
}

.chatbot-clear {
    cursor: pointer;
    float: right;
}

.chatbot-clear:hover {
    color: darkred;
}

.chatbot-download-button {
    position: absolute;
    top: 2px;
    right: 2px;
    cursor: pointer;
    width: 33px;
    height: 33px;
    border-radius: var(--border-radius);
    z-index: 2332;
    opacity: 0;
    background: gray;
}

.chatbot-output p:hover .chatbot-download-button {
    opacity: 1;
}

.chatbot-output h6 {
    font-weight: 900;
    letter-spacing: 1px;
    text-align: left;
}

.chatbot-output p {
    font-size: 1em;
    padding: 20px 25px;
    align-items: center;
    border-radius: var(--border-radius);
    position: relative;
}

.chatbot-output p.chatgpt img {
    max-width: 90%;
}

.chatbot-output p.commands,
.chatbot-output h6.commands {
    background-color: transparent;
}

.chatbot-output p.chatgpt {
    background-color: aquamarine;
}

.chatbot-output-message {
    width: 96%;
    display: flex;
    padding-bottom: 10px;
    margin-bottom: 10px;
    animation: 1s ease 0s 1 normal forwards running fadeIn;
}

.chatbot-message.chatgpt,
.chatbot-message.commands {
    flex-grow: 0.88;
}

.chatbot-avatar-container {
    width: 35px;
    height: 62px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.chatbot-avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: rgb(204, 204, 204);
}

.chatbot-output-message.you {
    flex-direction: row-reverse;
}

.chatbot-message.you {
    width: 70%;
}

.chatbot-output-message.you .chatbot-avatar-container {
    margin-right: 20px;
    margin-left: 10px;
}

.chatbot-output p.you {
    background-color: lightyellow;
}

h6.you {
    text-align: right;
}

.chatbot-uploader {
    margin-top: 10px;
}

.chatbot-uploader input {
    width: 202px;
    margin-right: 10px;
}

.chatbot-uploader a {
    text-decoration: none;
    cursor: pointer;
}

.chatbot-uploader a:hover {
    background-color: aqua;
}

a.chatbot-upload {
    padding: 1px 3px;
    border-radius: 2px;
}

.chatbot-data-source-container {
    padding: 5px;
    border-radius: var(--border-radius);
}

@keyframes text-pulse {
    0% {
        color: darkgray;
    }

    33% {
        color: cyan;
    }

    50% {
        color: gold;
    }

    100% {
        color: magenta;
    }
}

.prompt-template {
    position: relative;
    padding: 10px 20px;
    margin: 10px 0px 25px;
}

.prompt-template:hover .delete,
.prompt-template:hover .copy {
    opacity: 1;
}

.prompt-template>div {
    background-color: aliceblue;
    margin: 5px;
    padding: 10px 15px;
}

.wrapper.promptTemplates {
    content: "";
    min-height: 50vh;
}

.wrapper.promptTemplates input {
    margin: 0px 20px;
}

.description {
    margin-bottom: 20px;
}

.copy,
.delete {
    position: absolute;
    top: 7px;
    cursor: pointer;
    width: 75px;
    height: 33px;
    border-radius: var(--border-radius);
    z-index: 2332;
    opacity: 0;
}

.delete {
    right: 26px;
    background-color: darkred;
}

.copy {
    right: 106px;
    background-color: gray;
}